In [1]:
import pandas as pd
import numpy as np

In [7]:
# Load data
user_usage = pd.read_csv("user_usage.csv")
user_device = pd.read_csv("user_device.csv")
android_device= pd.read_csv("android_devices.csv")

In [8]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [9]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [10]:
android_device.head()

  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A

In [11]:
# Merging two data frames using the left merge 
left_merge = pd.merge(user_usage, user_device, on='use_id', how='left')
left_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0
2,1710.08,136.88,7267.55,22789,28714.0,android,6.0,SM-G930F,1.0
3,94.46,35.17,519.12,22790,29592.0,android,5.1,D2303,1.0
4,71.59,79.26,1557.33,22792,28217.0,android,5.1,SM-G361F,1.0

In [12]:
left_merge.tail()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
235,260.66,68.44,896.96,25008,NaN,NaN,NaN,NaN,NaN
236,97.12,36.50,2815.00,25040,NaN,NaN,NaN,NaN,NaN
237,355.93,12.37,6828.09,25046,NaN,NaN,NaN,NaN,NaN
238,632.06,120.46,1453.16,25058,NaN,NaN,NaN,NaN,NaN
239,488.70,906.92,3089.85,25220,NaN,NaN,NaN,NaN,NaN

In [14]:
# Merging data frame using the riht the merge 
right_merge = pd.merge(user_usage, user_device, on='use_id', how='right')
right_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921,android,4.3,GT-I9505,1
1,1710.08,136.88,7267.55,22788,28714,android,6.0,SM-G930F,1
2,1710.08,136.88,7267.55,22789,28714,android,6.0,SM-G930F,1
3,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1
4,71.59,79.26,1557.33,22792,28217,android,5.1,SM-G361F,1

In [15]:
right_merge.tail()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
267,NaN,NaN,NaN,23047,29720,ios,10.2,"iPhone7,1",2
268,NaN,NaN,NaN,23048,29724,android,6.0,ONEPLUS A3003,3
269,NaN,NaN,NaN,23050,29726,ios,10.2,"iPhone7,2",3
270,NaN,NaN,NaN,23051,29726,ios,10.2,"iPhone7,2",3
271,NaN,NaN,NaN,23052,29727,ios,10.1,"iPhone8,4",3

In [17]:
# Merging Data Frame with Innermerge
inner_merge = pd.merge(user_usage, user_device, on='use_id', how='inner')
inner_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921,android,4.3,GT-I9505,1
1,1710.08,136.88,7267.55,22788,28714,android,6.0,SM-G930F,1
2,1710.08,136.88,7267.55,22789,28714,android,6.0,SM-G930F,1
3,94.46,35.17,519.12,22790,29592,android,5.1,D2303,1
4,71.59,79.26,1557.33,22792,28217,android,5.1,SM-G361F,1

In [19]:
# Merging Data Frames using OUTER Merge
outer_merge = pd.merge(user_usage, user_device, on= 'use_id', how='outer', indicator=True)
outer_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id,_merge
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0,both
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0,both
2,1710.08,136.88,7267.55,22789,28714.0,android,6.0,SM-G930F,1.0,both
3,94.46,35.17,519.12,22790,29592.0,android,5.1,D2303,1.0,both
4,71.59,79.26,1557.33,22792,28217.0,android,5.1,SM-G361F,1.0,both

In [ ]:
# Merging DataFrames with Different Column Names 
left_merge = pd.merge(user_device, android_device, left_on='device', right_on='Model', how='left', indicator)